@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3372c4;
  /*  --color-secondary: #D72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;*/
  --color-accent: #5494DA;
}

* {
  font-family: "Mulish", sans-serif;
}
